/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	position:absolute;
	left:12%;
	bottom:0px;
	/*background:#000;
	color:#6d6e70;*/
	width:37%;
	height:100%;
	z-index:999;
	padding:1% 0px;
	overflow: hidden;
	display: none;
	
	/*opacity: 0.8;
	-moz-opacity: 0.8;
	filter:alpha(opacity=8);
	-webkit-box-sizing: border-box;  Safari/Chrome, other WebKit */
	 /*-moz-box-sizing: border-box;    Firefox, other Gecko */
	/* box-sizing: border-box;         Opera/IE 8+ */
}
.nivo-caption p {
	padding:5px;
	margin:25px 0;
	font-size:30px;
	font-family:'comfortaaregular' !important;
}
.nivo-caption p:last-child{position:absolute; bottom:100px;}
.nivo-caption h1{ margin:0px;font-family:'comfortaabold' !important; line-height:60px;}
.nivo-caption p a ,.nivo-caption p a:hover,.nivo-caption p a:focus,.nivo-caption p a:active{
	display:inline-block !important;
	background:#ee8437;
	height:30px; 
	line-height:30px;
	border-radius:15px;
	font-size:14px; 
	text-decoration:none;
	min-width:150px; 
	padding:0 25px;
	outline:0px !important;
	border:0px !important;
	text-align:center;
	
}
.nivo-caption p a.blueBG{background:#3399cc !important;}
.nivo-caption p a span{color:#fff !important;}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	text-align:center;
	padding: 15px 0;
}
.nivo-controlNav a {
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}