@font-face {
  font-family: 'helvitca-bold';
  src: url('../fonts/helvitca/bold.eot');
  src: url('../fonts/helvitca/bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/helvitca/bold.woff') format('woff'),
       url('../fonts/helvitca/bold.ttf')  format('truetype'),
       url('../fonts/helvitca/bold.svg#helvitca-bold') format('svg');
}
@font-face {
  font-family: 'helvitca-light';
  src: url('../fonts/helvitca/light.eot');
  src: url('../fonts/helvitca/light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/helvitca/light.woff') format('woff'),
       url('../fonts/helvitca/light.ttf')  format('truetype'),
       url('../fonts/helvitca/light.svg#helvitca-light') format('svg');
}
@font-face {
  font-family: 'helvitca-regular';
  src: url('../fonts/helvitca/regular.eot');
  src: url('../fonts/helvitca/regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/helvitca/regular.woff') format('woff'),
       url('../fonts/helvitca/regular.ttf')  format('truetype'),
       url('../fonts/helvitca/regular.svg#helvitca-regular') format('svg');
}

@font-face {
  font-family: 'helvitca-medium';
  src: url('../fonts/helvitca/medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvitca/medium.woff') format('woff'),
  url('../fonts/helvitca/medium.ttf')  format('truetype'),
  url('../fonts/helvitca/medium.svg#helvitca-medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helvitca-thin';
  src: url('../fonts/helvitca/thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvitca/thin.woff') format('woff'),
  url('../fonts/helvitca/thin.ttf')  format('truetype'),
  url('../fonts/helvitca/thin.svg#helvitca-thin') format('svg');
  font-weight: normal;
  font-style: normal;
}
a,a:hover,a:focus{
outline:0 !important;
}
#navbar{
margin-top:0;
margin-bottom:0;
height:auto;
background:transparent;
border:0;
}
.logo img{
position:relative;
top:40px;
z-index:999;
margin-left:30px;
}
.logo.logo-normal img {
    position: relative;
     top: 0; 
    z-index: 999;
    margin-left: 30px;
}
.banner-section{
width:72% !important;
display:block;
padding:0!important;
}
.form-section{
width:28% !important;
display:block;
background:#d8e9bf;
padding:20px !important;
border-radius:5px;

}
.form-section .alert ul{
padding-left:10px;
}
.form-section .alert ul li{
font-size:12px;
}
#freesim-registration-form p{
font-size:10px;	
font-family: 'helvitca-regular';
margin-bottom:0;
}
.form-type-checkbox{
font-family: 'helvitca-regular';
color:#7c8081;
font-size:12px;
}
.content-section{
min-height:360px !important;
}
.form-section h1{
color:#7c8081;
font-size:21px;
margin-top:0;
font-family:'helvitca-bold';
margin-bottom: 15px;
}
.form-section .form-control{
color:#7c8081;
height:25px;
font-size:12px;
margin-top:0;
font-family:'helvitca-regular';
border:0;
padding: 3px 12px;
border-radius:0;
color:#068c38;
}
#postcode_lookup .form-item-postal-code{
width:40%;
display:block;
float:left;
margin-bottom:15px;
}

#postcode_lookup .form-submit{
width:auto;
display:block;
margin-left:15px;
float:left;
background:#149347;
border:0;
border-radius:0px;
color:#fff;
text-transform:uppercase;
font-family:'helvitca-bold';
font-size:12px;
padding:4px 12px;
}
#postcode_lookup select.form-control{
margin-bottom:15px;
color:#068c38;
}
.delivery .control-label{
font-family: 'helvitca-bold';
font-size:14px;
color:#7c8081 !important;
display:none;
color:#068c38;
}
.form-control::-webkit-input-placeholder {
   color:#068c38 !important;
}

.form-control:-moz-placeholder { /* Firefox 18- */
   color:#068c38 !important; 
}

.form-control::-moz-placeholder {  /* Firefox 19+ */
   color:#068c38 !important;  
}

.form-control:-ms-input-placeholder {  
   color:#068c38 !important;  
}
#dmuk_ppc_submit{
background:#149347;
color:#fff;
font-family: 'helvitca-bold';
font-size:16px;
text-transform:uppercase;
width:100%;
padding:10px 12px;
border-radius:7px;
position:relative;
margin-top:20px;
}
.offer{
margin-top:25px;
}
#postcode_lookup{display:block;float:left;width:100%;}
.form-item-condition,.form-item-condition1{float:left;display:block;margin-top:0 !important;}

.views-row{
width:25%;
float:left;
text-align:center;
padding-right:15px;
padding-left:15px;
}
.views-row img{
margin: 0 auto;
width:auto;
}
.views-row  .views-field-title b{
font-family: 'helvitca-bold';
color:#068c38;
font-size:16px;
margin-bottom:5px;
display:block;

}
.views-row .views-field-field-title-image{
height:50px;
display:block;

}
.views-field-body p{
font-family: 'helvitca-regular';
font-size:11px;
color:#1d1d1b;
}
.views-row .views-field-body{
min-height:100px;
}
.toggle-btn {
color:#068c38;
font-family: 'helvitca-bold';
font-size:14px;
display:table;
margin:0 auto;
cursor:pointer;
margin-bottom:10px;
}
.toggle-btn.collapsed:after{
content:' [+]';
}
.toggle-btn:after{
content:' [-]';
}

.errormsg , #opc_error_message{
    color: #cb0b06;
	font-size:12px;
	font-family: 'helvitca-regular';
	margin-bottom:5px;
	margin-top:5px;
	font-weight:400;
	float:left;
}
.footer{background:#706f6e;}
.footer p{
font-size:12px;
font-family: 'helvitca-regular';
color:#fff;
padding-top:10px;
padding-bottom:10px;
}
#terms ul li{
font-size:12px;	
font-family: 'helvitca-regular';

}
footer.footer {
    margin-top: 45px;
    padding-top:0;
    padding-bottom:0;
    border-top:0;
	text-align:center;
}

@media (min-width:1200px){
body .container {
    width: 1000px !important;
}
}
@media (max-width:992px){
	.banner-section {
    width:100% !important;
    }

.logo img {
    position: relative;
    top: 40px;
    z-index: 999;
    margin-left:0;
}

#navbar  .logo {
    margin-right: 0;
    padding-right: 0;
	padding-left:50px;
    display: block;
}
	.form-section.col-md-4 {
    width:100% !important;
    display: block;
    background: #d8e9bf;
    padding:20px 75px !important;
    margin-left:0;
    border-radius:0;
}
.content-section {
    min-height: 100% !important;
}
.form-item-first-name{width:50%;float:left;padding-left:8px;padding-right:8px;}
.form-item-last-name{width:50%;float:left;padding-left:8px;padding-right:8px;}
.form-item-email{width:50%;float:left;padding-left:8px;padding-right:8px;}
#edit-delivery-address1{width:100%;float:left;padding-left:8px;padding-right:8px;}
#postcode_lookup .form-item-postal-code {
    width: 48.55555%;
}
.delivery{float:left;width:100%;padding-left:8px;padding-right:8px;}
.form-section h1 {
padding-left:8px;
}
.form-type-checkbox{
padding-left:8px}
.views-row .views-field-title b {
 font-size: 14px;
}
.views-field-body p {
    font-size: 10px;
}
.views-row {
    padding-right: 5px;
    padding-left: 5px;
}
#terms ul li{font-size:12px;font-family:'helvitca-regular';}
footer.footer {
    margin-top: 20px;
}
.views-row {
    width: 50%;
	padding-left:15px;
	padding-right:15px;
}
.views-field-body p {
    font-size: 11px;
}
#dmuk_ppc_submit {margin-top:0;}
#edit-delivery-address1{margin-bottom:0;}
.error{
font-size:12px;
font-family:'helvitca-regular';
margin-bottom:0;
margin-top:5px;
}
.delivery{margin-bottom:15px;}
}
@media (max-width:480px){
.views-row {
    width: 100%;
	padding-left:15px;
	padding-right:15px;
	text-align:left;
}
#navbar .logo {
    padding-left: 35px;
}
.views-row .views-field-field-title-image {
    height: 50px;
    display: block;
    width: 20%;
	float: left;
}
.views-row  .views-field-title,.views-row .views-field-body{width:80%;float:left;}
.views-row .views-field-body {
    min-height: 75px;
}
.form-section h1 {
   display:none;
}
.form-section.col-md-4 {
    width: 100% !important;
    display: block;
    background: #d8e9bf;
    padding: 20px !important;
    margin-left: 0;
    border-radius: 0;
}
.form-item-first-name{padding-left:8px;padding-right:8px;}
.form-item-last-name{padding-left:8px;padding-right:8px;}
.form-item-email{padding-left:8px;padding-right:8px;}
#edit-delivery-address1{padding-left:8px;padding-right:8px;}
}
/* .status-help strong{
display:block;
width:100%;
} */
.status-help {
display:block;
width:100%;
float:left;
}

