/* #myaccount-login-form .panel-body{min-height:535px;} */
.form-item:empty{
display:none !important;
}
.container-inline-date .date-padding {
    float: left;
	width:100%;
}
.container-inline-date .form-item, .container-inline-date .form-item input {
    width: 100%;
}
/*-----login section-------*/
.login-box .panel-body{
padding:15px 40px 15px 40px;
}
.login-box strong{
font-family:"helvitca-regular";
font-size:30px;
color:#73559e;
font-weight:400;
}
.login-box span{
font-family:"helvitca-bold";
font-size:18px;
color:#009fe3;
display:block;
}
.login-box  img{
margin:30px 0 30px 0;
}
.login-box .form-control{
border-radius:0;
font-size:18px;
height:40px;
}

.login-box  .form-item-condtion{
width:50%;
text-align:left;
float:left;
}
.login-box #edit-forgot-password-link{
width:50%;
text-align:right;
float:left;
margin:10px 0;
}
.login-box #edit-forgot-password-link a{
font-family:"helvitca-regular";
font-size:15px;
color:#009fe3;
}
.submit-order{
float:left;
display:block;
width:100%;
margin-top:10px;
margin-bottom:20px !important;
}
.login-box  .form-item-condtion label{
font-family:"helvitca-regular";
font-size:18px;
color:#706f6f;
}

/*-----register section-------*/
.register-box .panel-body{
padding:15px 40px 15px 40px;
}
.register-box strong{
font-family:"helvitca-regular";
font-size:30px;
color:#73559e;
font-weight:400;
}
.register-box span{
font-family:"helvitca-bold";
font-size:18px;
color:#009fe3;
display:block;
}
.register-box p{
font-family:"helvitca-bold";
font-size:18px;
color:#706f6f;
display:block;
}
.register-box img{
margin:30px 0 30px 0;
}
.register-box ul {
    list-style-image: url('../images/list-style.png');
	text-align:left;
	padding-left: 60px;
	margin-bottom: 35px;
}
.register-box ul  li{
font-family:"helvitca-regular";
font-size:18px;
color:#706f6f;
}
#edit-reg-link{
margin-bottom:30px;
}
#edit-reg-description{text-align:left;}

.reg-help p{
    font-family: "helvitca-regular";
    font-size: 16px;
    color: #706f6f;
}
.reg-help strong {
    font-family: "helvitca-regular";
    font-size: 20px;
    color: #73559e;
    font-weight: 400;
	margin-bottom: 5px;
	display:block;
}
.reg-help .panel-body {
    padding: 30px 40px 30px 40px;
}
.reg-box .panel-body {
    padding: 30px 40px 30px 40px;
}
.reg-box .form-control{
border-radius:0; 
font-size:18px;
height:40px;
}
.reg-box label {
    font-family: "helvitca-regular";
    font-size: 20px;
    color: #73559e;
    font-weight: 400;
	margin-bottom:15px;
}
.verify-box label {
    font-family: "helvitca-regular";
    font-size: 20px;
    color: #73559e;
    font-weight: 400;
	margin-bottom:15px;
}
.reg-box .form-item-mobile-number{margin-bottom:25px !important;}
/*---forgot password---*/

.fpwd-box strong{
    font-family: "helvitca-regular";
    font-size: 24px;
    color: #73559e;
    font-weight: 400;
}
.verify-help strong{
    font-family: "helvitca-regular";
    font-size: 20px;
    color: #73559e;
    font-weight: 400;
}
.verify-help label{
margin-bottom:0;
}
.verify-help span{
    font-family: "helvitca-regular";
    font-size: 16px;
    color: #706f6f;
	display:block;
}
.verify-help span a{
    font-family: "helvitca-regular";
    font-size: 15px;
    color: #009fe3;
}
.verify-help .panel-body {
    padding: 30px 40px 30px 40px;
}
.verify-box .panel-body {
    padding: 30px 40px 30px 40px;
}
.verify-box strong {
    font-family: "helvitca-regular";
    font-size: 24px;
    color: #73559e;
    font-weight: 400;
}
.verify-box label{
margin-bottom:15px;
}
.verify-box .form-control{
border-radius:0;
height:40px;
font-size:18px;
}
.verify-box .form-item-verification-code{
margin-bottom:25px;
}
#myaccount-reg-continue-form strong {
    font-family: "helvitca-regular";
    font-size:24px;
    color: #73559e;
    font-weight: 400;
}
#myaccount-reg-continue-form .form-group{
margin-bottom:15px;
}
#myaccount-reg-continue-form .form-control{
border-radius:0;
height:40px;
font-size:18px;
}
#edit-dob-title .form-item{
width:33.33%;
float:left;
display:block;
padding-left:5px;
padding-right:5px;
} 
#myaccount-reg-continue-form .dob .form-item:first-child{
padding-left:0;
}
#myaccount-reg-continue-form .dob .form-item:last-child{
padding-right:0;
}
#myaccount-reg-continue-form .panel-body{
padding:40px;
}
#myaccount-reg-continue-form .form-submit{
margin-top:20px;
}
#myaccount-reg-continue-form  label{
    font-family: "helvitca-bold";
    font-size:16px;
    color: #706f6f;
}
#myaccount-reg-continue-form .form-item-condition label{
    font-family: "helvitca-regular";
    font-size:16px;
    color: #706f6f;
}
.help-fpwd p {
    font-family: "helvitca-light";
    font-size: 18px;
    color: #706f6f;
}
.help-fpwd label {
font-weight:400;
}
.help-fpwd .panel-body {
    padding: 25px 40px 25px 40px;
}
.fpwd-box > .panel > .panel-body {
    padding: 25px 40px 25px 40px;
}
.fpwd-box .form-control {
    border-radius: 0;
    font-size: 18px;
    height: 40px;
}
.fpwd-box label,.fpwd-box .panel-title{
    font-family: "helvitca-regular";
    font-size: 18px;
    color: #73559e;
    font-weight: 400;
    margin-bottom:5px;
}
#myaccount-login-form  .login-box .form-type-textfield .control-label,#myaccount-login-form  .login-box .form-type-password .control-label{
display:none;
}
.fpwd-box .label-info {
    background-color:#009fe3!important;
	display: block;
    padding: 10px;
    font-size: 18px;
	font-family: "helvitca-bold";
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    border-radius: 0;
    margin-bottom: 12px;

}
#portin-request-continue-form h1 {
    font-family: "helvitca-medium";
    font-size: 30px;
    color: #73559e;
    font-weight: 400;
    margin-bottom: 20px;
    display: block;
    margin-top: 0;
}
#portin-request-continue-form .control-label {
    font-family: "helvitca-regular";
    font-size: 18px;
    color: #7B7B7B;
    font-weight: 400;
    margin-bottom: 5px;
}
#portin-request-continue-form .form-control {
    border-radius: 0;
    height: 40px;
}
#portin-request-continue-form  .panel-body {
    padding: 30px 60px 30px 60px;
}
@media (max-width:1199px){

}
@media (max-width:991px){
.login-box img {
    margin: 10px 0 10px 0;
}
.verify-help .panel-body {
    padding: 20px;
}
.verify-help .form-item {
    margin-bottom:10px;
}
.verify-box .panel-body {
    padding: 20px;
}
#portin-request-continue-form .panel-body {
    padding:30px !important;
}
}
@media (max-width:767px){
#portin-request-continue-form h1 {
    font-size:24px !important;
}
#portin-request-continue-form .panel-body {
    padding:25px !important;
}
#portin-request-continue-form .control-label {
    font-size: 16px;
}
}
@media (max-width:479px){
.login-box .panel-body {
    padding:15px;
}

.login-box img {
margin:5px 0;
height: 78px;
}
.login-box strong {
    font-size: 24px;
}
.register-box strong {
    font-size: 24px;
    display:block;
}
.help-login label{
display:block;
width:100%;
}
.register-box img {
    margin: 5px 0;
	height: 80px;
}
.register-box p {
    font-size: 14px;
}
.register-box ul li {
    font-size: 14px;
}
#myaccount-login-form .col-md-6{
padding:0;
}
.login-box .form-item-condtion label {
    font-size: 14px;
}
.login-box #edit-forgot-password-link a {
    font-size: 14px;
}
.login-box span {
    font-size: 14px;
}
.login-box .form-control {
    border-radius: 0;
    font-size: 16px;
    height: 30px;
}
#edit-login-details{margin-bottom:0;}
.login-box .panel-body {
    padding: 15px;
}
.register-box span {
    font-size: 14px;
}
.register-box .panel-body {
    padding: 15px;
}
.register-box ul {
    padding-left: 40px;
}
.reg-help .panel-body {
    padding: 15px;
}
.reg-help p {
    font-size: 14px;
}
.reg-help strong {
    font-size: 15px;
}
.reg-box label {
    font-size: 15px;
}
.reg-box .panel-body {
    padding: 15px;
}
.reg-box .form-control {
    font-size: 15px;
    height: 30px;
}
.verify-help .panel-body {
    padding: 15px;
}
.verify-box .panel-body {
    padding: 20px;
}
.verify-help span a {
    display: block;
}
#myaccount-reg-verification-form .col-sm-6{
padding:0;
}
.help-fpwd .panel-body {
    padding: 20px;
}
.fpwd-box > .panel > .panel-body {
    padding: 20px;
}
#myaccount-forgot-password-form .col-sm-6{padding:0;}
.help-fpwd p {
    font-size: 14px;
}
#myaccount-reg-continue-form .panel-body {
    padding:20px 0 20px 0;
}
#myaccount-reg-continue-form strong {
    font-size: 20px;
}
#myaccount-reg-continue-form .form-item-condition label {
    font-size: 14px;
}
#portin-request-continue-form .panel-body {
    padding:15px !important;
}
#portin-request-continue-form h1 {
    font-size: 18px !important;
}
#portin-request-continue-form .control-label {
    font-size: 14px !important;
}
#portin-request-continue-form .form-control {
    height: 34px;
}
}