
.free-sim .radio input[type="radio"],.free-sim  .radio-inline input[type="radio"],.free-sim  .checkbox input[type="checkbox"],.free-sim  .checkbox-inline input[type="checkbox"] {
    float: left !important;
    margin-left: -20px;
}

.free-sim  .panel-body {
    padding:25px 120px 25px 120px;
}
.freesim-order-form .panel-body {
    padding:25px 120px 25px 120px;
}
.free-sim-type .panel-body{
    padding:35px 120px 35px 120px;
}
.payment-form .panel-body {
    padding: 30px 60px 30px 60px;
}
.payment-form h1 {
    font-family: "helvitca-medium";
    font-size: 30px;
    color: #73559e;
    font-weight: 400;
    margin-bottom: 20px;
    display: block;
    margin-top: 0;
}
.payment-form h2 {
    font-family: "helvitca-bold";
    font-size: 20px;
    color: #706f6f;
    font-weight: 400;
    margin-bottom: 20px;
    display: block;
    text-align: center;
    margin-top: 0px;
}
.payment-form .form-control {
    border-radius: 0;
    height: 40px;
}
.payment-form .control-label {
    font-family: "helvitca-regular";
    font-size: 18px;
    color: #73559e;
    font-weight: 400;
    margin-bottom: 5px;
}
.payment-form  .form-item-condition .control-label {
    font-family: "helvitca-regular";
    font-size: 14px;
}
.payment-form  .form-item-billing-address-chkbox .control-label {
    font-family: "helvitca-regular";
    font-size: 14px;
}
.payment-form .form-item-security-code {
    width: 70%;
    display: inline-block;
}
.payment-form .cvvno {
    width: 30%;
    display: inline-block;
    text-align: right;
    vertical-align: bottom;
}

.card-details h1 {
    font-family: "helvitca-regular";
    font-size: 16px;
    color: #706f6f;
    margin-bottom: 20px;
    line-height: 1.42833;
}
.card-details strong {
    font-family: "helvitca-regular";
    font-size: 30px;
    color: #73559e;
    font-weight: 400;
}
.card-details .form-item {
    font-family: "helvitca-regular";
    font-size: 16px;
    color: #706f6f;
}
.card-details  #edit-topup-edit a {
    font-size: 18px;
    font-family: "helvitca-bold";
    color: #009fe3;
}
.card-details .form-submit {
    margin-top: 45px;
    margin-bottom: 35px;
}
.card-details span {
   font-family: "helvitca-bold";
}
.panel-freesim-abroad .order-details{
padding-bottom:0;
}
.free-sim-type h1{
color:#73559e;
font-size:30px;
font-family:"helvitca-bold";
margin:0;
}
.free-sim-type span{
color:#73559e;
font-size:30px;
font-family:"helvitca-regular";
margin-bottom:20px;
display:block;
}
.free-sim-type p{
color:#706f6f;
font-size:16px;
font-family:"helvitca-regular";
}

#edit-sim-type{
display: table;
margin: 0 auto;
width: 75%;
table-layout: fixed;
padding: 0;
}
#edit-sim-type  .form-type-radio{
display:table-cell;
vertical-align:bottom;
padding:0;
}
#edit-sim-type  h4{
font-family:"helvitca-bold";
font-size:18px;
color:#009fe3;
font-weight:400;
}
#edit-sim-type  input[type="radio"]:not(old) ~ i {
    display:table;
    background: url('../images/chk-box.png') no-repeat 0 0;
    line-height: 24px;
    height: 23px;
	width:23px;
    vertical-align: middle;	
	margin:0 auto;
    white-space: nowrap;
}
#edit-sim-type  input[type="radio"]{
 position:absolute;
 opacity:0;
}
#edit-sim-type  input[type="radio"]:checked:not(old) ~ i {
    background-position: 0 -23px;
}
.freesim-order-section{
padding:30px 0 40px 0;
}
.freesim-order-form h1{
font-family:"helvitca-medium";
font-size:30px;
color:#73559e;
display:block;
margin-bottom: 30px;
}
.freesim-order-form  .control-label{
display:block;
font-weight:400;
}
.freesim-order-form  .form-control {
border-radius:0;
font-size:16px;
font-family: "helvitca-regular";
}
.freesim-order-form{
margin-bottom:40px;
}
.freesim-order-form .form-type-checkbox{
margin-top:15px !important;
text-align: left;
}
.freesim-order-form .form-type-checkbox label{
font-size:16px;
font-family:"helvitca-regular";
color:#706f6f;
}
.freesim-order-form .form-group {
margin-bottom:10px;
}
.freesim-order-submit{
padding-top:20px;
padding-bottom:40px; 
}
.freesim-order-submit .btn{
margin-bottom:20px;
}
.freesim-order-submit p{
font-size:16px;
font-family:"helvitca-regular";
color:#706f6f;
margin-bottom:5px;
}
.status-help {
padding:30px 45px;
}
.status-help h1{
    font-family:"helvitca-regular";
    font-size: 30px;
    color:#73559e;
    font-weight:400;
	margin-top:10px;
}
.status-help h2{
    font-family:"helvitca-bold";
    font-size: 30px;
    color: #73559e;
    font-weight:400;
	margin-top:10px;
}
.status-help h3{
    font-family:"helvitca-regular";
    font-size:18px;
    color: #73559e;
    font-weight:400;
}
.status-help  h4{
    font-family:"helvitca-bold";
    font-size: 18px;
    color: #009fe3;
    display: block;
}	
.status-help strong{
    font-family:"helvitca-bold";
}
.status-help p{
    font-family:"helvitca-regular";
	font-size:18px;
	color:#706f6f;
}
.status-help p strong{
    font-family: "helvitca-medium";
}
.status-help span{
    font-family: "helvitca-regular";
	font-size:16px;
	color:#706f6f;
}
.status-help ul li{
vertical-align:middle;
padding-left:10px;
padding-right:10px;
}
.status-help ul li:last-child{
    text-align:left;
}
.freesim-order-form .form-type-textfield .control-label ,.freesim-order-form .form-type-select .control-label{
display:none;
}
.free-sim-steps{
margin-bottom:40px;
}
.free-sim-type{margin-bottom:20px;}
.panel-freesim-abroad  label{
    font-size:20px;
    color: #73559e;
    text-align: center;
	font-family:helvitca-regular;
	font-weight:400;
	margin-bottom:10px;
}
.panel-freesim-abroad  .panel-body{
padding:30px 125px 30px 125px;
}
.panel-freesim-abroad  .box{
padding:30px 125px 30px 125px;
}
.panel-freesim-abroad .form-control {
    font-size: 16px;
    font-family: 'helvitca-bold';
    border-radius: 15px;
    padding: 0px 28px 0px 28px;
    color: #706f6f;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.panel-freesim-abroad .form-type-select{
position:relative;
}
.panel-freesim-abroad .form-type-select:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    right: 20px;
    top: 10px;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 12px #706e6f solid;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}
.panel-freesim-abroad .box article{
    color: #555;
    width: 100%;
    font-size:20px;
    font-weight:700;
}
.freesim-order-form .errormsg{text-align:left;}
@media (max-width:1199px){
.payment-form .panel-body {
    padding: 25px;
}
.payment-form  h1 {
    font-size: 24px;
}
.panel-freesim-abroad .panel-body {
    padding: 30px 90px 30px 90px;
}
.panel-freesim-abroad .box {
    padding: 40px;
}
}
@media (max-width:991px){
.free-sim .panel-body {
    padding: 25px !important;
}
.freesim-order-form h1 {
    font-size: 20px;
}
.freesim-order-form .panel-body {
    padding: 25px;
}
.free-sim-type .panel-body {
    padding:25px;
}
#edit-sim-type h4 {
    font-family: "helvitca-bold";
    font-size: 16px;
    color: #009fe3;
    font-weight: 400;
}
.freesim-order-submit {
    padding-top: 10px;
}
.panel-freesim-abroad .panel-body {
    padding: 30px;
}
.panel-freesim-abroad .box {
    padding:35px;
}
}
@media (max-width:767px){
#edit-sim-type {
    display: table;
    margin: 0 auto;
    width: 400px;
    table-layout: fixed;
}
.freesim-order-form .form-type-checkbox label {
    font-size: 14px;
}
.status-help {
    padding: 15px;
}
.status-help ul li:last-child {
    text-align: center;
}
.status-help ul li {
    display: block;
}
.status-help p {
    font-size: 16px;
}
.free-sim-type h1 {
    font-size: 24px;
}
.free-sim-type span {
    font-size: 24px;
 }
.freesim-order-form #edit-topup-amount .form-type-radio label{
font-size: 50px;
height: 110px;
}
.freesim-order-form #edit-topup-amount input[type="radio"] + i {
    height: 30px;
    width: 31px;
    background-size: 30px 62px !important;
	margin-left: -15px;
}
.freesim-order-form  #edit-topup-amount input[type="radio"]:checked + i {
    background-position: 0px -31px;
}
.panel-freesim-abroad .box {
    padding:25px;
}
}
@media (max-width:479px){
#edit-sim-type {
    display: block;
    width: 100%;

}
#edit-sim-type img{
width:20%;
}
#edit-sim-type .form-type-radio {
    padding-bottom: 20px;
}
#edit-sim-type .form-type-radio {
    display: block;
}
.free-sim .panel-body {
    padding: 15px !important;
}
.freesim-order-submit p {
    font-size: 14px;
    font-family: "helvitca-regular";
    color: #706f6f;
    margin-bottom: 5px;
}
.status-help p {
    font-size:14px;
}
.status-help {
    padding: 0;
}
.free-sim-type h1 {
    font-size: 20px;
}
.free-sim-type span {
    font-size: 20px;
}
.free-sim-type .panel-body {
    padding: 15px;
}
.free-sim-type p {
    font-size: 14px;
}
.free-sim-steps .btn-grey-dark {
    font-size: 14px !important;
}
.free-sim-type {
    margin-bottom: 15px;
}
.free-sim-steps {
    margin-bottom: 35px;
}
.freesim-order-form .panel-body {
    padding: 15px;
}
.freesim-order-form #edit-topup-amount .form-type-radio label {
    font-size: 30px;
    height: 75px;
}
.freesim-order-form {
    margin-bottom: 20px;
}
.panel-freesim-abroad .panel-body {
    padding:20px;
}
.panel-freesim-abroad .box {
    padding: 15px;
}
.panel-freesim-abroad label {
    font-size: 18px;
}
.panel-freesim-abroad .box article {
    font-size: 16px;
}
.order-details .col-xs-12{
padding:0;
}
.payment-form .panel-body {
    padding: 20px;
}
.payment-form h1 {
    text-align:center;
    font-size: 18px;
}
.payment-form .control-label {
    font-size: 16px;
}
.payment-form  .form-control {
    height: 32px;
}
.card-details strong {
    font-size: 20px;
}
.card-details h1 {
    font-family: "helvitca-regular";
    font-size: 14px;
}
.card-details label{
margin-bottom:0;
}
.card-details .panel-body {
    padding: 0;
}
.card-details .form-item {
    font-size: 14px;
}
.card-details .form-submit {
    margin-top: 15px;
    margin-bottom: 30px;
}
#freesim-abroad-payment-form .pay-details .panel-body {
    padding: 15px;
}
}


#edit-sim-operation-type {
    display: table;
    margin: 0 auto;
    width: 450px;
    table-layout: fixed;
}
#edit-sim-operation-type .form-type-radio {
    display: table-cell;
    vertical-align: bottom;
    padding: 0;
}
#edit-sim-operation-type h4 {
    font-family: "helvitca-bold";
    font-size: 18px;
    color: #009fe3;
    font-weight: 400;
}


/*.freesim-order-form .control-label{
display:none;}

form-item form-item-condition1 form-type-checkbox checkbox