.home-popular-bundles {
   padding: 25px 0px 0px 0px;
}
.home-popular-bundles h2.block-title {
    font-size:30px;
    font-family: 'helvitca-bold';
    color: #fff;

}
.home-popular-bundles header h2{
margin-bottom:0;
}
.home-popular-bundles h2  a{
    color: #fff;
}
.home-popular-bundles .quicktabs-tabs  {
    border-bottom: 0;
}
.home-popular-bundles .quicktabs-tabs  {
    display: table;
    width: 100%;
	padding-left: 0;
	margin-bottom:30px;
}
.home-popular-bundles .quicktabs-tabs  > li {
    display: inline-block;
    float: none;
}

.home-popular-bundles .quicktabs-tabs  > li.active  > a,
.home-popular-bundles .quicktabs-tabs  > li.active > a:focus,
.home-popular-bundles .quicktabs-tabs  > li.active > a:hover {
    color: #fff;
    cursor: default;
    background-color: #28235d;
    border: 0px solid #ddd;
    border-bottom-color: transparent;
    font-family: 'helvitca-bold';
 /*    font-size: 24px; */
}
.home-popular-bundles .quicktabs-tabs > li > a {
    color: #9d9d9c;
    position: relative;
    display: block;
    padding:3px 20px 3px 20px;
    background-color: #f6f6f6;
    font-family: 'helvitca-bold';
    font-size: 24px;
    margin: 0 6px;
}
.home-popular-bundles  .quicktabs-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 0px solid transparent;
    border-radius: 13px;

}
.home-popular-bundles .field-collection-container {
    border-bottom:0;
    margin-bottom:0;
}
.quicktabs_main{
background:#ededed;
}
.quicktabs_main h2 a{
color:#29235c;
font-family: 'helvitca-bold';
font-size: 30px;
margin-top:20px !important;
display:block;
}
.quicktabs_main .block-vm-bundles  > .field-item{
width:33.33%;
float:none;
display:inline-block;
margin-bottom:15px;
vertical-align:top;
}
.quicktabs_main .block-vm-bundles .field-item .field-collection-view{
padding: 1em 0 0.3em 0;
margin: 0 1em 0 1em;
}
.quicktabs_main .block-vm-bundles  > .field-item:nth-child(2n) .top-bundle-section {
background:#009fe3;
}
.quicktabs_main .block-vm-bundles  > .field-item:nth-child(2n) .vectone-customer{
background:#009fe3;
}
.quicktabs_main .block-vm-bundles  > .field-item:nth-child(3n) .top-bundle-section {
background:#73559e;
}
.quicktabs_main .block-vm-bundles  > .field-item:nth-child(3n) .vectone-customer {
background:#73559e;
}
.quicktabs_main .block-vm-bundles  > .field-item:nth-child(4n) .top-bundle-section {
background:#29235c;
}
.quicktabs_main .block-vm-bundles  > .field-item:nth-child(4n) .vectone-customer {
background:#29235c;
}
.data_bundle .field-item:nth-child(1n) .top-bundle-section {
background:#009fe3;
}
.data_bundle .field-item:nth-child(2n) .top-bundle-section {
background:#73559e;
}
.data_bundle .field-item:nth-child(3n) .top-bundle-section {
background:#29235c;
}
.data_bundle .field-item:nth-child(1n) .bottom-bundle-section .vectone-customer {
background:#009fe3;
}
.data_bundle .field-item:nth-child(2n) .bottom-bundle-section .vectone-customer {
background:#73559e;
}
.data_bundle .field-item:nth-child(3n) .bottom-bundle-section .vectone-customer {
background:#29235c;
}
.quicktabs_main .block-vm-bundles{
width:1170px;
padding-left:15px;
padding-right:15px;
margin:0 auto;
}

.quicktabs_main .field-collection-container .field-name-field-bundle-rates{
padding:10px 20px 10px 20px;
display:block;
float:left;
width:100%;
}

.quicktabs_main .entity-field-collection-item {
background:#fff;
float: left;
width:100%;
}
 .quicktabs_main .field-name-body .field-item{
display:none;
} 

.top-bundle-section,.bottom-bundle-section,.body-bundle-section{
float:left;
width:100%;
display:block;
}
.top-bundle-section .field{
color:#fff;
font-size:36px;
font-family: 'helvitca-bold';
padding:5px;
}
.quicktabs_main .block-vm-bundles  > .field-item .top-bundle-section {
background:#009fe3;
}
.quicktabs_main .block-vm-bundles  > .field-item:first-child .top-bundle-section {
background:#009fe3;
}
/* 29235c */
.body-bundle-section .field{
color:#29235c;
font-size:30px;
font-family: 'helvitca-bold';
padding-top:15px;
}
.bottom-bundle-section .field{
color:#fff;
font-size:20px;
font-family: 'helvitca-bold';
}
.bottom-bundle-section span{
color:#fff;
font-size:12px;
font-family: 'helvitca-light';
display: block;
}
.body-bundle-section  span{
color:#29235c;
font-size:16px;
font-family: 'helvitca-light';
display: block;
}

.body-bundle-section .content{
line-height:1;
}
.quicktabs_main .block-vm-bundles .bottom-bundle-section .vectone-customer{
width:auto !important;
display:inline-block;
padding:5px 20px 3px 20px;
margin-top:15px !important;
margin-bottom:15px;
background:#009fe3;
}

.field-collection-view {
 border-bottom:0 !important;
}

/********************************** bundles page********************************************/

.bundles-section .list-inline {
    width: 100%;
    display: table;
    margin-left: 0;
    box-shadow: 1px 2px 4px #000;
    margin-bottom: 20px;
    overflow: hidden;
}
.bundles-section  .list-inline li.first {
    background: #73559e;
    width: 250px;
    border: 0;
    border-right: 30px solid #fff;
    position: relative;
}
.bundles-section .list-inline li {
    vertical-align: middle;
    display: table-cell;
    padding: 0;
	height: 195px;
    border-top: 25px solid #fff;
    border-bottom: 25px solid #fff;
    border-left: 14px solid #fff; 
	border-right: 7px solid #fff;
    background: #ededed;
}
.bundles-section .list-inline li + li{
    border-top: 25px solid #fff;
    border-bottom: 25px solid #fff;
    border-left: 7px solid #fff;
	border-right: 7px solid #fff;
}

.bundles-section  .list-inline article {
    width: 100%;
    display: table;
    table-layout: fixed;
}
.bundles-section .list-inline li.last {
    background: #fff;
    line-height: 1.2;
}
.bundles-section .list-inline li:last-child {
    border-right: 20px solid #fff;
}
.bundles-section .list-inline li strong {
    font-family: 'helvitca-medium';
    font-size: 42px;
    color: #73559e;
    font-weight: 400;
    display: block;
}
.bundles-section .list-inline li span {
    font-family: 'helvitca-regular';
    font-size:18px;
    color: #73559e;
    line-height: 1em;
}
.bundles-section .list-inline li.first span{
    color: #fff;
	font-family: 'helvitca-light';
	font-size:16px;
}
.bundles-section .list-inline li.first h2 {
    font-family: 'helvitca-regular';
    font-size: 72px;
    color: #fff;
    margin-top: 0;
}
.bundles-section .list-inline li.first .field-name-field-vectone-customer{
    color: #fff;
	font-family: 'helvitca-medium';
	font-size:20px;
}
.bundle-content {
padding:45px;
}
.bundle-content  p{
color:#29235c;
font-family:'helvitca-regular';
font-size:15px;
}
.bundle-content ul li{
font-family:'helvitca-regular';
font-size:15px;
color:#29235c;
list-style:none;
}
.bundle-content ul{
padding-left:0;
}
.bundles-section  .bundle-content p{
margin-bottom:0;
}
.toggle-link{
cursor:pointer;
color:#009fe3;
font-size:15px;
font-family: 'helvitca-medium';
}
.data_bundle > .field-item{
width:33.33%;
display:inline-block;
float:none;
margin-bottom:20px;
}
.data_bundle > .field-item .field-collection-view{
padding-left:15px;
padding-right:15px;
}

.data_bundle > .field-item .entity{
background:#fff;
width: 100%;
float:left;
}
.data_bundle .content {
    margin-top: 0;
    width: 100%;
}
.top-data-bundle-section .content {
    margin-top: 0;
    width: 100%;
}
.page-node-322 .field-name-field-bundle-rates > .field-items > .field-item{
width:33.33%;
display:block;
float:left;

}
.page-node-322 .field-name-field-bundle-rates > .field-items > .field-item  + .field-item .field-collection-view{
margin-left:30px;
}
.page-node-322 .field-name-field-bundle-rates > .field-items > .field-item .entity{
background:#fff;
}

.page-node-118 .field-name-field-bundle-rates > .field-items > .field-item{
width:33.33%;
display:block;
float:left;
}
.page-node-118  .field-name-field-bundle-rates > .field-items > .field-item  + .field-item .field-collection-view{
margin-left:30px;
}
.page-node-118 .field-name-field-bundle-rates > .field-items > .field-item .entity{
background:#fff;
}
.top-data-bundle-section{
background:#73559e;
}
.top-data-bundle-section .field-name-field-bundle-price{
color:#fff;
font-family: 'helvitca-medium';
font-size:75px;
}
.top-data-bundle-section  .field-name-field-validity{
color:#f9b233;
font-family:'helvitca-light';
font-size:18px;
padding:0px 0 15px 0;
}
.top-data-bundle-section  .field-name-field-vectone-customer{
color:#fff;
font-family: 'helvitca-medium';
font-size:24px;
margin-bottom:15px;
display:block;
}
.top-data-bundle-section  {
color:#fff;
font-family:'helvitca-light';
font-size:15px;
display: block;
float: left;
width: 100%;
}
.body-data-bundle-section .data-field{
color:#73559e;
font-family: 'helvitca-bold';
font-size:50px;
float: left;
line-height:33px;
width: 100%;
padding:50px 20px 50px 20px;
}
.body-data-bundle-section .data-field span{
color:#73559e;
font-family: 'helvitca-light';
font-size:24px;
}
.field-collection-container {
    border-bottom:0 !important;
    margin-bottom:0;
}
@media(max-width:767px){
.quicktabs-wrapper .block-vm-bundles {
    width: 100% !important;
} 
.quicktabs-wrapper .field-collection-view {
    margin: 0;
	padding:10px 0 0 0;
}
.quicktabs_main .block-vm-bundles  > .field-item{
width:100%;
}
.quicktabs-wrapper .entity-field-collection-item {
    background: #fff;
	display:table;
	height: 110px;
}
.bundles-section .list-inline li.first {
    padding:0 15px 0 15px;
}
.bundles-section .list-inline li strong {
    font-size: 24px;
}
.bundles-section .list-inline li span {
   font-size: 16px;
}
.bundle-content {
    padding: 15px;
}
.bundles-section .field-collection-container {
   padding:0 15px 0 15px;
}
.bundle-content ul li {
    font-size: 12px;
}
.bundle-content p{
    font-size: 12px;
}
.bundles-section .list-inline li.first .content {
    display: block;
}
.bundles-section .list-inline li.first .content:last-child {
    text-align:center;
}
.bundles-section .list-inline li.first .content:first-child {
    text-align:center;
}
.data_bundle > .field-item{
    width: 100%;
}
.bundles-section .data_bundle > .field-item + .field-item .field-collection-view {
    margin-left: 0;
}
}
@media (max-width:570px) and (min-width:480px){
.bundles-section .list-inline li strong{
	font-size: 25px!important;
}
.bundles-section .list-inline li.first h2{
	font-size: 35px!important;
}
.top-bundle-section {
    width: 100px;
}
.body-bundle-section .field {
    font-size:20px;
}
.body-bundle-section span {
    font-size: 12px;
}
.quicktabs-wrapper .entity-field-collection-item {
    height: 95px;
}
.body-bundle-section article p {
    text-indent: -5%;
	font-size: 10px;
}
.body-bundle-section .content +.content:before {
font-size:24px;
}
}
 /*  max  -   479 */
@media (max-width:479px){
 .top-bundle-section .field {
    font-size: 4.5vw;
}

.home-popular-bundles {
    padding: 25px 15px 0px 15px;
}
.home-popular-bundles .quicktabs-tabs > li > a {
    margin-bottom: 10px;
	line-height: 1.5;
}
.top-bundle-section .visible-xs {
    display:none !important;
}
.body-bundle-section .visible-xs {
    display:none !important;
}
.top-bundle-section .field {
    color: #fff;
    font-size: 36px;
    font-family: 'helvitca-bold';
}
.body-bundle-section span {
    font-size: 18px;
}
.body-bundle-section .field {
    font-size: 30px;
}
.quicktabs-wrapper .field-collection-container .field-name-field-bundle-rates {
    padding: 10px;
}
.quicktabs-wrapper {
    margin: 0 -15px;
}
.bundle-content {
    padding:30px 15px 30px 15px;
}
.bundle-selection {
    padding: 30px;
}
.btn-blue { 
    font-size: 16px !important;
}
.bundles-section .list-inline li {
    display: block;
    padding: 2px;
    height:auto;
    float: left;
	padding:5px;
    width: 44%;
    margin: 4%;
	margin-bottom:2%;
	border:0 !important;
}
.bundles-section .list-inline li strong {
    font-size: 25px!important; 
}
.bundles-section .list-inline li.first h2 {
    font-size: 35px!important;
	}
.bundles-section .list-inline article > li:first-child{
    display: block;
    padding: 2px;
    height:auto;
    float: left;
    width:92%;
    margin: 4%;
	margin-bottom:0;
	border:0 !important;
}
.bundles-section .list-inline li:nth-child(odd) {
    margin-left:2%;
}
.bundles-section .list-inline li:nth-child(even) {
    margin-right:2%;
}
.bundles-section .list-inline li.first{
   margin:0;
}
.bundles-section .list-inline {
 padding-bottom: 10px;
}
.body-data-bundle-section .data-field {
    font-size: 32px;
    padding: 20px;
}
.home-popular-bundles h2.block-title {
    font-size: 24px;
}
.top-data-bundle-section .field-name-field-bundle-price {
    font-size: 50px;
}
.top-data-bundle-section .field-name-field-validity {
    padding:0;
}
}

@media (max-width:1199px){
.quicktabs-wrapper .block-vm-bundles {
width:970px;
}
}

@media (max-width:991px){
.top-bundle-section .field {
    color: #fff;
    font-size: 30px;
    font-family: 'helvitca-bold';
	padding: 2px;
}

.body-bundle-section .field {
 font-size: 24px;
}
.body-bundle-section span {
    font-size: 14px;
}
.bottom-bundle-section span {
    font-size: 12px;
    line-height: 1;
}
.quicktabs-wrapper .block-vm-bundles {
    width: 750px;
}
.quicktabs-wrapper  .field-collection-view {
    margin: 0 10px;
}
.quicktabs-wrapper h2 a {
    color: #29235c;
    font-family: 'helvitca-bold';
    font-size: 24px;
}
.home-popular-bundles .quicktabs-tabs > li > a {
    font-size: 16px;
}
.bundles-section .list-inline {
    width: 100%;
    display: block;
	background: #fff;
}
.bundles-section .list-inline li.first {
    background: #73559e;
    width: 100%;
    border: 0;
    border-right: 0;
    position: relative;
	height:auto;
	display:table;
	table-layout:fixed;
	padding: 0 35px 0 35px;
}
.bundles-section .list-inline li.first .content {
	display:table-cell;
	vertical-align:middle;
}
.bundles-section .list-inline li.first .content:first-child{
	text-align:left;
}
.bundles-section .list-inline li.first .content:last-child{
	text-align:right;
}
.bundles-section .list-inline li.first h2 {
    font-size: 60px;
	margin-top: 10px;
	margin-bottom:0;
}
.bundles-section .list-inline li.first .field-name-field-vectone-customer {
    margin-bottom: 10px;
}
.bundles-section .list-inline li strong {
    font-size: 36px;
}
.bundles-section .list-inline li:last-child {
    border-right: 14px solid #fff;
}
.bundles-section .list-inline li + li {
    border-top: 14px solid #fff;
    border-bottom:14px solid #fff;
}
.bundles-section .list-inline li {
    border-top: 14px solid #fff;
    border-bottom:14px solid #fff;
}
}

/***************************** (max-width:767px) and (min-width:480px)  *************************/

@media (max-width:767px) and (min-width:480px){
.bottom-bundle-section, .body-bundle-section {
    float:none;
    width: auto;
    display: table-cell;
	vertical-align: middle;
}
.body-bundle-section .field {
    padding-top: 0;
}
.body-bundle-section article {
  display:table;
  width:100%;
  table-layout:fixed;
}
.body-bundle-section article p {
  font-size:12px;
  color:#29235c;
  font-family: 'helvitca-regular';
  margin-top:10px;
}
.body-bundle-section .content {
    line-height: 1;
    display:table-cell;
    width: auto;
	vertical-align:top;
	position:relative;
}
.bottom-bundle-section{
display:none;
}
.top-bundle-section .vectone-customer span{
font-size:10px;
color:#fff;
font-family: 'helvitca-light';
}
.top-bundle-section .vectone-customer{
line-height: 15px;
}
.top-bundle-section .content{
line-height: 1;
}
.top-bundle-section .vectone-customer .field{
font-size:14px;
line-height: 1;
}
.top-bundle-section .field {
padding:0;
}
.body-bundle-section span {
 display:block;
}
.body-bundle-section .field {
 font-size: 22px;
}
.top-bundle-section .field {
 font-size:6vw;
}
.offer-free-sim-section .btn-blue { 
    font-size: 18px !important;
}
.bundles-section .list-inline li strong {
    font-size: 25px!important;
}
.bundles-section .list-inline li.first h2 {
    font-size: 35px!important;
}

.body-bundle-section .content +.content:before {
content:'+';
color: #29235c;
font-size:4vw;
font-family: 'helvitca-bold';
position:absolute;
left:-7px;
top:33%;
margin-top:-15px;
}
.top-bundle-section {
    width: 110px;
	float:none;
    display: table-cell;
	vertical-align: middle;
}
.body-bundle-section article p {
    text-indent: -10%;
}
.body-bundle-section .field {
    font-size:3.2vw;	
}
}
