/*******************llom***********************/
.landline-mobile .form-radios{
padding:25px 100px 25px 100px;
}
.landline-mobile .form-type-radio label {
    color: #9d9d9c;
    font-size:25px;
    font-family: 'helvitca-condensed';
    position: relative;
    display: block;
}
.landline-mobile input[type="radio"] + i {
background: url("../images/chk-box-lg.png") 0px 0px no-repeat;
position: absolute;
top:50%;
left: 0;
height: 20px;
width: 20px;
margin-left: -26px;
cursor: pointer;
background-size: 20px 40px;
margin-top: -10px;
}
.landline-mobile input[type="radio"] {
    opacity: 0;
    position: absolute;
    margin: 0;
    padding: 0;
}
.landline-mobile input[type="radio"]:checked + i {
    background-position: 0px -20px;
}
.panel-llom  #edit-form-title{
    font-size:18px;
    font-family: 'helvitca-regular';
	 color: #706f6f;
}
.panel-llom h1 {
    font-family: "helvitca-medium";
    font-size: 30px;
    color: #73559e;
    font-weight: 400;
    margin-bottom: 20px;
    display: block;
    margin-top: 0;
    text-align: center;
}
.panel-llom .control-label {
    font-family: "helvitca-regular";
    font-size: 18px;
    color: #73559e;
    font-weight: 400;
    margin-bottom: 5px;
}
.panel-llom .form-control {
    border-radius: 0;
    height: 40px;
}

.panel-llom .panel-body{
padding:30px 60px 30px 60px;
}
.panel-llom h2 {
    font-family: "helvitca-bold";
    font-size: 20px;
    color: #706f6f;
    font-weight: 400;
    margin-bottom: 20px;
    display: block;
    text-align: center;
    margin-top: 0px;
}
.panel-llom .form-item-condition .control-label {
    font-family: "helvitca-regular";
    font-size: 14px;
}
.panel-llom  span{
    font-family: "helvitca-regular";
    font-size: 14px;
	color: #73559e;
	font-weight: 400;
}
#topup-payment-form .form-item-security-code {
    width: 70%;
    display: inline-block;
}
@media (max-width:767px){
.panel-llom  .panel-body {
    padding: 30px;
}
.panel-llom  h1 {
    font-size: 24px;
}
.panel-llom h2 {
    font-size:18px;
}
#topup-payment-form .control-label {
    font-family: "helvitca-regular";
    font-size: 18px;
    color: #73559e;
    font-weight: 400;
    margin-bottom: 5px;
}

}

@media (max-width:479px){
.panel-llom  .form-control {
    height: 32px;
}
.panel-llom   h1 {
    font-size: 18px;
	margin-bottom: 15px;
}
.panel-llom h2 {
    font-size:16px;
}
.panel-llom .panel-body {
    padding:15px;
}
.panel-llom #edit-form-title{
    font-size: 16px;
}
#edit-form-title strong{
	display:block;
	
}

}